/* add css module styles here (optional) */
.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.wrapper .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  z-index: 10;
  opacity: 0.5;
}

.wrapper .icon:hover {
  opacity: 1;
}

.wrapper .iconLeft {
  left: 1rem;
}

.wrapper .iconRight {
  right: 1rem;
}

.wrapper .slideShow {
  position: relative;
  width: 100vw;
  height: calc(100vh - 150px);
  background-color: blue;
}

.wrapper .slideShow .banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - 150px);
  background-size: cover;
  background-position: top;
}

.wrapper .slideShow .bannerMark {
  position: absolute;
  top: 55%;
  left: 35%;
  transform: translate(-50%, -50%);
  min-width: 600px;
  max-width: 730px;
  background: rgba(2, 2, 2, .4);
  border-radius: 8px;
  padding: 3rem 4.5rem;
  backdrop-filter: blur(2px);
  transition: 0.3s;
}

.wrapper .slideShow .bannerMark .bntArea {
  margin-top: 2rem;
  width: auto;
  max-width: 294px;
}

.wrapper .slideShow .bannerTitle {
  color: #fff;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
  white-space: pre;
}

.wrapper .slideShow .banner p {
  color: #fff;
  line-height: 1.5rem;
}

.wrapper .slideShow .banner p a {
  color: #fff;
  cursor: pointer;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .wrapper .slideShow .banner .BannerMark {
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    background: rgba(2, 2, 2, 0.4);
  }
}

.wrapper .dotArea {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 7;
  width: 100vw;
  margin: 0;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.wrapper .dotArea .dot {
  width: 0.75rem;
  height: 0.75rem;
  background-color: #4f4f4f;
  border-radius: 100%;
  border: none;
  list-style: none;
  cursor: pointer;
}

.wrapper .dotArea .selected {
  background-color: #fff;
}

.show {
  animation: show 1.5s ease both;
}

.hide {
  animation: hide 1.5s ease both;
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@media only screen and (max-width: 950px) {
  .bannerMark {
    padding: 3rem 2rem;
    left: 50% !important;
    width: 90% !important;
    max-width: unset !important;
    min-width: unset !important;
  }

  .bannerTitle {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media only screen and (max-width: 800px) {
  .bannerMark {
    padding: 2rem !important;
    width: 95%;
    top: 45% !important;
    left: 50%;
  }

  .bannerTitle {
    font-size: 1.5rem !important;
    line-height: 2rem !important;
    white-space: break-spaces !important;
  }
}
